body {
   font-family: Tahoma;
   margin: 10px;
   background: url(/html-css/img/pattern.png);


}
.title-name {
   width: 600px;
   margin: 0px auto;
   padding: 20px;

}
.title-name-2 {
   width: 100px;
   margin: 0px auto;
   padding: 20px;
   height: 0px;
}
.title-name-3 {
   width: 250px;
    height: 30px;
    margin: 30px auto;

}
.card-1 {
   margin: 10px auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;

}
.card-2 {
   margin: 10px auto;
   width: 400px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 5px 10px #ccc;
   border-radius: 10px;
}
.card-3 {
  margin: 10px auto;
  width: 400px;  
}
.table-yes {
   border: 2px solid #8f039e;
    
}
